:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #121212; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scrollbar-width: thin;
  scrollbar-color: #fff;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* @font-face {
  font-family: "akolregular";
  src: local("akolregular"),
    url("./assets/fonts/akolregular.otf") format("truetype");
}

@font-face {
  font-family: "akolbold";
  src: local("akolbold"), url("./assets/fonts/akolbold.otf") format("truetype");
} */

@font-face {
  font-family: "archy";
  src: local("archy"), url("./assets/fonts/archy.otf") format("truetype");
}

@font-face {
  font-family: "ninobold";
  src: local("ninobold"), url("./assets/fonts/ninobold.ttf") format("truetype");
}

@font-face {
  font-family: "bpg";
  src: local("bpg"), url("./assets/fonts/bpg.ttf") format("truetype");
}

@font-face {
  font-family: "arial";
  src: local("arial"), url("./assets/fonts/arial.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
